################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/textile_.eb0249dd/x64/Debug
/x64/Debug
/.vs/textile_inference_gpu
SDK/"*.user" 
/SDK
/textile_inference_gpu.vcxproj.user
"*.vcxproj.user" 
"SDK/" 
/imports.txt
/x64/Release
/textile_.eb0249dd/x64/Release
/models
/trt_engine_cache
/trt_timing_cache
